*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  
}
.container{
  width: 280px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.container img{
  width: 100%;
  margin-top: 35%;
}
.container button{
  margin-bottom: 150px;
  background-color: #4C4D54;
}
.container p{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 400;
}
.container .form{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

}
